.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.Folder {
    grid-column: span 2 / span 2;
}

.File {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}

.ReadNamespace {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.QuickPeriod {
    grid-column-start: 3;
    grid-row-start: 2;
}

.SlowPeriod {
    grid-column-start: 4;
    grid-row-start: 2;
}

.LogType {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.SaveConfig {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}
