.container {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) auto;
    gap: 12px 12px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
    "Folder File"
    "QuickPeriod SlowPeriod"
    "LogType SaveConfig";
}

.Folder { grid-area: Folder; }

.File { grid-area: File; }

.QuickPeriod { grid-area: QuickPeriod; }

.SlowPeriod { grid-area: SlowPeriod; }

.LogType { grid-area: LogType; }

.SaveConfig { grid-area: SaveConfig; }
